@model NoteMarket.Models.UserProfileModal
@{
    
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Logo-->
<div class="container">
    <a href="#user" class="navbar-brand smooth-scroll">
        <img src="~/images/home/logo.png" alt="top logo" class="topi" style="border-radius: 0%">
    </a>
    <div class="container">
        <nav class="navbar" style="position: absolute">
            <div class="navbar-fixed-top">
                <!-- Mobile Menu Open Button -->
                <span id="mobile-nav-open-btn">&#9776;</span>
                <!-- Logo -->
                <!-- Mobile Menu -->
                <div id="mobile-nav">
                    <!-- open -->
                    <span id="mobile-nav-close-btn">&times;</span>

                    <div id="mobile-nav-content">
                        <ul class="nav">
                            <li><a class="smooth-scroll" href="#SearchNotes">Search Notes</a></li>
                            <li><a class="smooth-scroll" href="#SellYourNotes">Sell Your Notes</a></li>
                            <li><a class="smooth-scroll" href="#BuyerRequests">Buyer Requests</a></li>
                            <li><a class="smooth-scroll" href="#FAQ">FAQ</a></li>
                            <li><a class="smooth-scroll" href="#contactUs">ContactUs</a></li>
                            <li>
                                <div class="dropdown">
                                    <img class="smooth-scroll  dropdown-toggle" src="~/images/Dashboard/user-img.png" data-toggle="dropdown" alt="img">

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item1" href="#">My Profile</a><br>
                                        <a class="dropdown-item1" href="#">My Download</a><br>
                                        <a class="dropdown-item1" href="#">My Sold Notes</a><br>
                                        <a class="dropdown-item1" href="#">My Rejected Notes</a><br>
                                        <a class="dropdown-item1" href="#">Change Password</a><br>
                                        <a class="dropdown-item1" href="#">Logout</a>
                                    </div>
                                </div>
                            </li>
                            <li> <a class="btn">LogOut</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="collapse navbar-collapse" style="margin-top: 10px;">
            <ul class="nav navbar-nav pull-right">
                <li><a class="smooth-scroll" href="#SearchNotes">Search Notes</a></li>
                <li><a class="smooth-scroll" href="#SellYourNotes">Sell Your Notes</a></li>
                <li><a class="smooth-scroll" href="#BuyerRequests">Buyer Requests</a></li>
                <li><a class="smooth-scroll" href="#FAQ">FAQ</a></li>
                <li><a class="smooth-scroll" href="#contactUs">ContactUs</a></li>
                <li>
                    <div class="dropdown">
                        <img class="smooth-scroll  dropdown-toggle" src="~/images/Dashboard/user-img.png" data-toggle="dropdown" alt="img">

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item1" href="#">My Profile</a><br>
                            <a class="dropdown-item1" href="#">My Download</a><br>
                            <a class="dropdown-item1" href="#">My Sold Notes</a><br>
                            <a class="dropdown-item1" href="#">My Rejected Notes</a><br>
                            <a class="dropdown-item1" href="#">Change Password</a><br>
                            <a class="dropdown-item1" href="#">Logout</a>
                        </div>
                    </div>
                </li>
                <li> <a class="btn">Logout</a> </li>
            </ul>
        </div>
    </div>
</div>
<!--profile pic-->
<div id="statment">
    <div class="content-box-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow  wow fadeInUp">
                    <div id="tech-statment" class="text-center">
                        <h3>User Profile</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section id="user">
    <!-- form -->
    <div class="container">
        <div id="form5">
            <form action="/Auth/UserProfile" method="post" enctype="multipart/form-data" id="UserProfile">
                <div id="forminer5">
                    <h1>Basic Profile Details</h1>
                    <div class="content-box-md">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div id="user-left1">
                                       
                                        <div class="form-group">
                                            <label>First Name*</label>

                                            @Html.EditorFor(m=>m.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        <div class="form-group">
                                            <label>Email*</label>
                                            
                                            @Html.EditorFor(m => m.EmailId, new { htmlAttributes = new { @class = "form-control" } })

                                        </div>
                                        <div class="form-group">
                                            <label>Gender</label>

                                            <select class="form-control">
                                                <option value=" "> Select Your Gender </option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>



                                            <label>Profile Picture</label><br>

                                            <input type="file" Name="dp" class="form-control2">

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div id="user-right1">
                                        <div calss="form-group">
                                            <label>Last Name*</label>
                                           
                                            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="form-group">
                                            <label>Date Of Birth</label>
                                           
                                            @Html.EditorFor(m => m.bdate, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="form-group">
                                            <label>Phone no</label>
                                            <div class="form-control">
                                                <select>
                                                    <option value="+91">+91</option>
                                                    <option value="079">079</option>
                                               @Html.EditorFor(m => m.phone, new { htmlAttributes = new { placeholder = "Enter your PhoneNumber" } })
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>Address</h1>
                    <div class="content-box-md">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div id="user-left2">
                                        <div class="formgroup">
                                            <label>Address Line 1*</label>
                                            @Html.EditorFor(m => m.add1, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Address" } })
                                            @Html.ValidationMessageFor(m => m.add1, "", new { @class = "error" })
                                        </div>
                                        <div class="formgroup">
                                            <label>City*</label>

                                            @Html.EditorFor(m => m.city, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your City" } })
                                            @Html.ValidationMessageFor(m => m.city, "", new { @class = "error" })
                                        </div>
                                        <div class="formgroup">
                                            <label>ZipCode*</label>

                                            @Html.EditorFor(m => m.zipcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your ZipCode" } })
                                            @Html.ValidationMessageFor(m => m.zipcode ,"", new { @class = "error" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div id="user-right2">
                                        <div class="formgroup">
                                            <label>Address Line 2*</label>

                                            @Html.EditorFor(m => m.add2, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Address" } })
                                            @Html.ValidationMessageFor(m => m.add2, "", new { @class = "error" })
                                        </div>
                                        <div class="formgroup">
                                            <label>State*</label>
                                            @Html.EditorFor(m => m.state, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your State" } })
                                            @Html.ValidationMessageFor(m => m.state, "", new { @class = "error" })
                                        </div>
                                        <div class="formgroup">
                                            <label>Country*</label>

                                            @Html.EditorFor(m => m.country, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Country" } })
                                            @Html.ValidationMessageFor(m => m.country, "", new { @class = "error" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <h1>University And Collage Information</h1>
                    <div class="content-box-md" style="margin-bottom: 40px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div id="user-left3">
                                        <div class="formgroup">
                                            <label>University</label>
                                           
                                            @Html.EditorFor(m => m.university, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your University Name" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div id="user-right3">
                                        <div class="formgroup">
                                            <label>Collage</label>
                                            @Html.EditorFor(m => m.collage, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Collage Name" } })
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <a class="btn1" href="javascript:$('#UserProfile').submit();">SUBMIT</a>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    Copyright &copy; Tatvasoft Allrights Reserved
                                </p>
                            </div>
                            <div class="col-md-6">
                                <ul class="social-list  pull-righ">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
